regex
tqdm
requests
xxhash
numpy
pytesseract
bs4
rjsmin
rcssmin
yapf
click
ssdeep
langdetect
jsbeautifier
wheel
watchdog
moviepy
autopep8
black
autoflake
isort
dotenv
googleapiclient
keyboard
stringzilla
rich
pdfminer.six
pypdf
htmlmin
pypdf2
cssbeautifier
urllib3
asyncio
